@using bytez.business.Dto.Category


@model UpdateCategoryDto

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update</h4>
            <p class="card-description">Update elements</p>
            <form class="forms-sample" method="post" >
                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

