
@model List<Basket> 

<div class="container-basket">
    <div class="row-basket">
        <div class="basket">
          @{
              foreach(var basket in @Model){
                  <div class="card-basket">
                
                  </div>
              }
          }
        </div>
        <div class="order"></div>
    </div>
</div>