@using bytez.business.Dto.Login
@model LoginDto


@{
    var returnUrl = Context.Request.Query["ReturnUrl"].ToString();
 

}


<div class="account">

    <div class="account-container">
        <div class="account-content">
            <h3 class="account-title">
                existing member
            </h3>
            <p class="account-text"> Welcome Back!</p>
        </div>
        <form class="account-form" asp-controller="Account" asp-action="Login" method="post" autocomplete="on">

          


               <input type="hidden" asp-for="@Model.ReturnUrl" value="@returnUrl">


            <input asp-for="Email" placeholder="Enter your email"  class="email" />
            <span asp-validation-for="Email"></span>
            <input asp-for="Password" placeholder="Enter your password" class="password" />
            <div>
                <button type="submit" class="btn-inverse-dark">Continue</button>
            </div>
        </form>
        <div class="account-registration">
            <p>Don’t have an account? <a href="/account/registration"> Register Now</a></p>
        </div>
    </div>
</div>
