@* @using bytez.business.Dto.ProductImage

@model ShowCaseDto 

<div class="dialog">

    @{
        foreach(var image in Model)
        {
            <div  class="image-card">

            </div>
        }
    }
</div> *@