



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {
    --dark-color-80: #000000cc; /* Dark color with 80% opacity */
    --dark-color: #000; /* Dark color */
    --white-color: #fff; /* White color */
    --linear-white: linear-gradient(0deg, rgba(173, 216, 230, 0.20) 0%, rgba(173, 216, 230, 0.20) 100%), #FFF;
}


a,
button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    padding: 0px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 83px;
    background-color: var(--white-color);
}

.navbar,
.menu {
    display: flex;
    align-items: center;
    gap: 1em;
}

    .menu > li > a {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.20000000298023224px;
        color: var(--dark-color);
    }

.social-menu {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

    .social-menu > li > img {
        width: 24px;
        height: 24px;
    }

footer {
    display: grid;
    place-content: center;
    place-items: center;
}

#about {
    display: flex;
    width: 1166px;
    height: 136.8px;
    gap: 45px;
}

.about-item {
    display: block;
    width: 102px;
    height: 118px;
    gap: 6px;
}

    .about-item:nth-child(5) {
        width: 577px;
        height: 64px;
        margin: 4px;
    }

.about-item-title {
    margin: 10px 0;
    text-transform: capitalize;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: var(--dark-color);
}

.about-item > ul > li > a {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--dark-color-80);
}

.btn-dark {
    width: 100.4px;
    height: 28px;
    padding: 0px, 18px, 0px, 18px;
    gap: 15px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    color: var(--white-color);
    background-color: var(--dark-color);
}

.about-form {
    display: flex;
    gap: 1em;
    align-items: center;
}

#email {
    width: 268.24px;
    height: 28px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    color: var(--dark-color);
    border: none;
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
}

.container-header {
    display: flex;
    place-content: center;
    background: var(--linear-white);
}

.header {
    padding: 30px 0;
    max-height: 100vh;
    display: grid;
    gap: 2em;
    grid-template-columns: 386px 748px;
    grid-template-rows: 222px 222px; /* Define two rows of auto height */

    grid-template-areas:
        "content-1 content-3"
        "content-2 content-3"; /* Define the grid areas for each cell */
}

.headers {
    padding: 30px 0;
    height: 100vh;
    display: grid;
    gap: 2em;
    grid-template-columns: 386px 748px;
    grid-template-rows: 222px 222px; /* Define two rows of auto height */

    grid-template-areas:
        "content-1 content-4"
        "content-2 content-4"; /* Define the grid areas for each cell */
}

.content {
    border-radius: 16px;
}

    .content:nth-child(1) {
        position: relative;
        inset: 0;
        padding: 10px 29px 4px 47px;
        grid-area: content-1;
        background-color: #eed19b66 !important;
    }

.content-body {
    margin: 30px 0 0 0;
    width: 100%;
    height: 100%;
}

.content-title {
    color: var(--dark-color);
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 87.5% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.content-text {
    color: var(--dark-color);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.content:nth-child(1) > .content-body > img {
    right: 0px;
    bottom: 3px;
    position: absolute;
    width: 247px;
    height: 222px;
    object-fit: contain
}

.content:nth-child(2) > .content-body > img {
    position: absolute;
    width: 310px;
    height: 247px;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    object-fit: contain
}

.content:nth-child(2) {
    position: relative;
    inset: 0;
    grid-area: content-2;
    padding: 10px 29px 4px 47px;
    background-color: #ae84f880;
}

.content:nth-child(3) {
    position: relative;
    inset: 0;
    grid-area: content-3;
    padding: 20px 47px 0 47px;
    background: #b5d9fb;
}

    .content:nth-child(3) > .content-body > img {
        bottom: 0;
        position: absolute;
        width: 474px;
        height: 430px;
        object-fit: contain
    }

.content-body > p {
    color: #0000001f;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.content:nth-child(4) {
    position: relative;
    inset: 0;
    grid-area: content-4;
    background-color: #f5d8de;
    padding: 20px 47px 0 47px;
}

    .content:nth-child(4) > .content-body > img {
        bottom: 0;
        position: absolute;
        width: 474px;
        height: 430px;
        object-fit: contain
    }

.connection-row {
    margin: 0 auto;
    width: 1136px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    height: 150px;
}

.connection-info {
    width: 135px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

    .connection-info > img {
        width: 35px;
        height: 90px;
        object-fit: contain;
    }

.connection-title {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 233.333% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.connection-text {
    color: #000;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px; /* 350% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.about-container {
    margin: 60px auto;
    width: 1180px;
    height: 100%;
    gap: 45px;
}

.about-image {
    width: 1180px;
    height: 426px;
}

    .about-image > img {
        width: 100%;
        height: 100%;
    }

.about-container > p:nth-child(2n+1) {
    margin: 12px 0;
    color: var(--Black, #0C0C0C);
    text-align: justify;
    /* Web/Body-xl */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 140% */
}



.about-container > p:nth-child(2n+2) {
    margin: 20px 0;
    color: var(--Black, #0C0C0C);
    /* Web/H5 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.account {
    padding: 30px 0;
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    background: url("../../assets/image/d0eb878086e0c38adfa66ff641c5f1fe.png"),linear-gradient(155deg, #383638 2.06%, #0B0B0B 33.08%), lightgray 34px 0px / 145.455% 100% no-repeat;
    mix-blend-mode: luminosity;
}

.account-container {
    display: flex;
    place-content: center;
    flex-direction: column;
    gap: 1em;
    place-items: center;
    width: 710px;
    height: 705px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.22);
    line-height: 25px;
    box-shadow: 0px 13px 44px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(9.800000190734863px);
}

.account-form {
    display: flex;
    place-content: center;
    flex-direction: column;
    gap: 2em;
    place-items: center;
    width: 474px;
    height: 116px;
}

.email {
    width: 474px;
    padding: 4px 30px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF80;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    background-image: url("../image/51031cea1723ee740e422c2474f47637.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #FFF;
}

.name {
    width: 474px;
    padding: 4px 30px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF80;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    background-image: url("../image/51031cea1723ee740e422c2474f47637.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #FFF;
}

.email::placeholder, .password::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.password {
    width: 474px;
    padding: 4px 30px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF80;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    background-image: url("../image/225a4fbaa0bc57375a1e4939896ca525.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #FFF;
}

.account-content {
    display: flex;
    align-items: start;
    width: 368.321px;
    height: 120px;
    flex-direction: column;
}

.account-title {
    color: #FFF;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    text-transform: uppercase;
}

.account-text {
    color: #FFF;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.btn-inverse-dark {
    width: 474px;
    padding: 10px 20px;
    height: 48px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 158, 226, 0.10);
    color: #1C1C1C;
    text-align: left;
    letter-spacing: 3px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    background-image: url("../image/arrow-left.png");
    background-position: 96%;
    background-repeat: no-repeat;
    background-size: inherit;
}

.account-registration {
    margin: 40px 0;
    text-align: left;
}

    .account-registration > p, .account-registration > p > a {
        color: #FFF;
        text-transform: capitalize;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 12px;
    }

.recommended {
    display: flex;
    background: var(--linear-white);
    width: 100%;
    place-content: center !important;
    flex-direction: column;
    place-items: center;
    width: 100%;
    height: 100%;
}

.recommended-container {
    gap: 1.5em;
    flex-wrap: wrap;
    display: flex;
    width: 1180px;
    height: 300px;
    padding: 30px 0;
}

.content-stock {
    gap: 1.5em;
    flex-wrap: wrap;
    display: flex;
    width: 1180px;
    height: 100%;
    padding: 30px 0;
}

.recommended-card {
    padding: 10px 0;
    width: 190px;
    height: 230px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.08);
}

.recommended-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

    .recommended-card-content>a > img {
        width: 70px;
        height: 95.163px;
        object-fit: contain;
    }

.btn-heart {
    margin: 0 3px;
    width: 12px;
    height: 12px;
    background: none;
    border: none;
}
.btn-heart-active {
    color: red;
    margin: 0 3px;
    width: 12px;
    height: 12px;
    background: none;
    border: none;
}
   
    .recommended-discount {
        color: #FFF;
        font-family: Roboto;
        font-size: 6px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; /* 250% */
        letter-spacing: 0.2px;
        text-transform: capitalize;
        background: #1C6A00;
        display: inline-flex;
        padding: 0px 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

.recommended-card-body {
    margin: 12px 0;
    padding: 10px;
}

.recommended-price {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 58.333% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.recommended-title {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 233.333% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.recommended-card-body > p {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px; /* 150% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.recommended-content-title {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.2px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.recommended-content {
    width: 1180px;
    display: flex;
    align-items: flex-start;
}

.content-stock {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.stock-container {
    display: flex;
    width: 100%;
    place-content: center;
    place-items: center;
    background: var(--linear-white)
}

.filter {
    padding: 20px 15px;
    display: flex;
    place-content: center;
    place-items: center;
    width: 281px;
    height: 796px;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.08), 0px -1px 20px 0px rgba(0, 0, 0, 0.08);
}

.row-stock {
    width: 866px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.filter-category {
    margin: 20px 0;
}

:is(.filter-price, .filter-category, .filter-brand) > label {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.filterPrice {
    width: 243px;
    height: 50px;
    display: flex;
    gap: 1em;
    align-items: center;
}

.form-category {
    width: 243px;
    border: none;
    outline: none;
    height: 42px;
    background: linear-gradient(0deg, rgba(173, 216, 230, 0.20) 0%, rgba(173, 216, 230, 0.20) 100%), #FFF;
}

.filter-price {
    margin: 20px 0;
    width: 243px;
    height: 100px;
}

.filter-title {
    padding: 0 12px;
    width: 95px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.form-price {
    padding: 0 12px;
    width: 95px;
    height: 42px;
    background: var(--linear-white);
    border: none;
    outline: none;
}

    .form-price::placeholder {
        padding: 0 12px;
        color: rgba(0, 0, 0, 0.70);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 233.333% */
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }

.user-item {
    position: relative;
    inset: 5px 0;
}

.drapdown {
    z-index: 1;
    display: none;
    width: 276px;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    height: 154px;
    padding: 29px 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 5px;
    background: #fff;
}

.user-info {
    display: flex;
    width: 276px;
    height: 70.605px;
    padding: 10px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -14px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 233.333% */
    letter-spacing: 0.2px;
    text-transform: lowercase;
}

    .user-info > a {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 175% */
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }

.submenu > li > a {
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 233.333% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.filter-brand, .filter-color, .content-filter > label {
    margin: 20px 0;
}



.card-wrapper {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    width: 400px;
    margin: 40px 0;
    height: 400px;
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

    .img-showcase img {
        min-width: 100%;
    }

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
        margin-right: 0;
    }

    .img-item:hover {
        opacity: 0.8;
    }

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

    .product-link:hover {
        opacity: 0.9;
    }

.product-rating {
    color: #ffc107;
}

    .product-rating span {
        font-weight: 600;
        color: #252525;
    }

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

    .product-price span {
        font-weight: 400;
    }

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

        .product-detail ul li span {
            font-weight: 400;
        }

.purchase-info {
    margin: 1.5rem 0;
}

    .purchase-info input,
    .purchase-info .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }

    .purchase-info input {
        width: 60px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

        .purchase-info .btn:first-of-type {
            background: #256eff;
        }

        .purchase-info .btn:last-of-type {
            background: #f64749;
        }

        .purchase-info .btn:hover {
            opacity: 0.9;
        }

.social-links {
    display: flex;
    align-items: center;
}

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

        .social-links a:hover {
            background: #000;
            border-color: transparent;
            color: #fff;
        }

.img-showcase > img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.img-item > a > img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.container-blog, .container-contact {
    background: var(--linear-white);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
}

.card-blog {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 1200px;
    gap: 1.2em;
}

.card-blog-body > img {
    width: 1186px;
    height: 414px;
    border-radius: 8px;
    margin: 30px 0;
    object-fit: cover
}

.card-blog-body > h3 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-shadow: .2px .2px var(--dark-color-80);
    margin: 12px 0 0 0;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--dark-color-80)
}

.card-blog-body > p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C0C0C;
    font-family: Inter;
}

.row-blog {
    padding: 50px 0;
    width: 1200px;
    display: grid;
    gap: 6em;
    grid-template-columns: 808px 392px;
    grid-template-rows: 100%;
}

.contact-row {
    padding: 50px 0;
    width: 1200px;
    display: grid;
    gap: 3em;
    grid-template-columns: 352px 800px;
    grid-template-rows: 100%;
}

.contact-info {
    width: 340px;
    height: 457px;
    padding: 40px 35px 51px 35px;
    border-radius: 4px;
    background: var(--white-color)
}

.contact-message {
    width: 800px;
    height: 457px;
    padding: 40px 32px 40px 31px;
    border-radius: 4px;
    background: var(--white-color)
}

.call-us, .call-wall {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 122px;
    gap: 24px;
    margin: 30px 0;
}

.call-us-title, .call-wall-title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.call-us-body, .call-wall-body {
    line-height: 25px;
}

    .call-us-body > p, .call-wall-body > p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

:is(.call-us-phone,.call-wall-email ) > a, .call-us-phone, .call-wall-email {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #000;
}

.blog-image {
    width: 100%;
    display: grid;
    gap: 2.5em;
    grid-template-columns: 392px 392px;
    grid-template-areas:
        'image-1 image-2'
        'image-3 image-4'
        'image-5 image-5'
        'image-6 image-6'
        'image-7 image-7';
    grid-template-rows: 336px 336px 246px 246px 246px;
}

.blog-video {
    display: grid;
    gap: 4em;
    grid-template-columns: 392px;
    grid-template-rows: 206px 206px 206px 206px 206px;
}

.data-clock {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}

    .data-clock > p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
    }

.fa-calendar-days, .fa-clock {
    font-size: 20px;
    color: #717171 !important;
}

.image-card {
    background: #fff;
}

.video-card {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 206px;
    padding: 79px, 0px, 0px, 0px;
    border-radius: 8px;
    gap: 12px
}

.blog-video-card-body {
    width: 392px;
    height: 72px;
    top: 134px;
    padding: 10px;
    border-radius: 0px, 0px, 8px, 8px;
    gap: 10px;
    position: absolute;
    background: #10101066;
}

.blog-video-card-title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-shadow: .2px .2px #fff;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.blog-image-card-body {
    padding: 10px;
}

.image-card:nth-child(1) {
    display: grid;
    gap: 1.5em;
    grid-area: image-1;
}

.image-card:nth-child(2) {
    display: grid;
    gap: 1.5em;
    grid-area: image-2;
}

.image-card:nth-child(3) {
    display: grid;
    grid-area: image-3;
}

.image-card:nth-child(4) {
    display: grid;
    grid-area: image-4;
}

.image-card:nth-child(5) {
    margin: 50px 0 0 0;
    display: grid;
    grid-area: image-5;
}

.image-card:nth-child(6) {
    display: grid;
    grid-area: image-6;
}

.image-card:nth-child(7) {
    display: grid;
    grid-area: image-7;
}

:is(.image-card:nth-child(1), .image-card:nth-child(2), .image-card:nth-child(3), .image-card:nth-child(4)) > img {
    width: 392px;
    height: 204px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

:is(.image-card:nth-child(5),.image-card:nth-child(6), .image-card:nth-child(7) ) > .blog-image-card-body > .data-clock > p:nth-child(2) {
    display: none;
}

:is(.image-card:nth-child(5),.image-card:nth-child(6), .image-card:nth-child(7) ) > img {
    width: 240px;
    height: 206px;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

:is(.image-card:nth-child(5),.image-card:nth-child(6), .image-card:nth-child(7) ) > .blog-image-card-body {
    padding: 12px 10px;
    display: flex;
    gap: 1em;
    flex-direction: column-reverse;
}

:is(.image-card:nth-child(5),.image-card:nth-child(6), .image-card:nth-child(7) ) {
    display: flex;
    align-items: center;
    width: 820px;
    height: 206px;
    border-radius: 8px;
    gap: 16px
}

.blog-image-card-title, .card-blog-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C0C0C;
}

:is(.image-card:nth-child(5),.image-card:nth-child(6), .image-card:nth-child(7) ) > .blog-image-card-body > .blog-image-card-title {
    font-size: 16px;
}

.card-blog-content {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.input-message > input {
    width: 235px;
    height: 50px;
    border-radius: 4px;
    background: #F5F5F5;
    border: none;
    outline: none;
}

    .input-message > input::placeholder, .textarea-message > textarea::placeholder {
        padding: 12px 15px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
    }

.input-message:nth-child(1) {
    display: grid;
    grid-area: input-1;
}

.input-message:nth-child(1) {
    display: grid;
    grid-area: input-1;
}

.input-message:nth-child(1) {
    display: grid;
    grid-area: input-1;
}

.textarea-message {
    display: grid;
    grid-area: textarea;
}

    .textarea-message > textarea {
        width: 760px;
        resize: none;
        height: 180px;
        border-radius: 4px;
        background: #F5F5F5;
        border: none;
        outline: none;
    }

.form-message {
    display: grid;
    grid-auto-columns: 235px 235px 235px;
    grid-auto-rows: 50px 200px;
    gap: 1.5em;
    grid-template-areas: 'input-1 input-2 input-3' 'textarea textarea textarea';
}
.contact-btn{
    width:740px;
    display:flex;
    justify-content:end;
    align-items:center;
}
.btn-message {
  
    width: 215px;
    height: 56px;
    padding: 6px 18px;
    text-align: center;
    border-radius: 4px;
    background: #000000;
    color: #FAFAFA;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}
